/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .body {
  background: #f9f9f9;
} */

/* Heading Style */
.Heading {
  font-size: 32px;
  font-weight: bold;
  margin-left: 64px;
}
.Card_line {
  width: 100%;
  height: 0px;
  color: rgba(141, 141, 145, 1);
  border: 1px solid rgba(141, 141, 145, 1);
  margin: 80px 0px;
}

/* Nav-bar Style */
.nav-bar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */

  background: #ffffff;
}

.Nav_wrapper {
  border: 2px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 64px;
}

/* clear */
.Nav_wrapper .Nav_logo_wrap {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Nav_wrapper .Roomsize_Style {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

/* ใส่สี text ยังไง? */
.Nav_wrapper .Start_Exploring {
  background: #222223;
  border-radius: 12px;
  padding: 20px 40px;
  color: white;
}

.Welcome_row {
  border: 1px solid goldenrod;
  margin: 90px 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.Welcome_text_wrapper {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 27px;
}

.Welcome_row .Welcome_text_wrapper .h1 {
  font-size: 48px;
}

.Welcome_row .Welcome_text_wrapper .h2 {
  font-size: 18px;
}

.Welcome_row .Welcome_text_wrapper .Start_Exploring {
  /* border: 1px solid red; */
  background: #222223;
  border-radius: 12px;
  padding: 20px 40px;
  color: white;
}

.Pic_show_wrapper {
  height: auto;
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.Pic_show_wrapper .Pic_show_wrapper_Left {
  /* width: 100%;
  height: auto; */
  border: 1px solid rgb(23, 172, 192);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0px 0px;
  gap: 20px;
}

.Pic_show_wrapper .Pic_show_wrapper_Right {
  border: 1px solid rgb(23, 172, 192);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 32px;
  gap: 20px;
}
/* End of welcome style */

/* Sorting box sytle */
.Sorting_wrapper {
  border: 0.5px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 144px 64px 184px 64px;
  gap: 20px;
}

.Sorting_wrapper .Search_wrapper {
  border: 0.5px solid purple;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px 18px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  border-radius: 12px;
}

.Sorting_wrapper .Search_wrapper .Text_Icon_Wrapper {
  border: 0.5px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.Sorting_wrapper .Search_wrapper .Search_button {
  /* border: 0.5px solid purple; */
  background: #222223;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 12px;
}

.Sorting_wrapper .Roomsize_wrapper .Left_wrapper {
  border: 0.5px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Sorting_wrapper .Roomsize_wrapper {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: auto;

  border: 0.5px solid blue;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  padding: 30px 24px 30px 24px;
  border-radius: 12px;
}

.Sorting_wrapper .Style_wrapper .Left_wrapper {
  border: 0.5px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Sorting_wrapper .Style_wrapper {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: auto;

  border: 0.5px solid blue;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  padding: 30px 24px 30px 24px;
  border-radius: 12px;
}

/* Card Style */
.card_wrapper {
  /* border: 2px solid purple; */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 10px;
  border-radius: 24px 24px;
  /* border-radius: 24px; */
}

/* กรอบเส้นเหมือนของ Card Wrapper ไม่ได้อยู่แค่ตัวรูป */
.card_wrapper .card_picture {
  /* width: 100%; */
  /* height: auto; */
  border-radius: 24px 24px 0px 0px;
  /* border: 1px solid rgb(250, 161, 27); */
}

.card_wrapper .description {
  /* border: 1px solid green; */
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0px 0px 24px 24px;
}

/* ขนาด Text ไม่ยอมเปลี่ยน */
.card_wrapper .description .h3 {
  font-size: 22px;
}

.card_wrapper .description .Card_line {
  width: 100%;
  height: 0px;
  border: 1px solid #000000;
  margin-top: 26px;
  margin-bottom: 26px;
}

.card_wrapper .description .Room-desctiption {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_wrapper .description .Style {
  /* border: 1px solid salmon; */
  font-size: 18px;
}
.card_wrapper .description .Roomsize {
  /* border: 1px solid salmon; */
  font-size: 18px;
}

.card-row {
  border: 1px solid salmon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 64px;
}

.card-row a {
  width: 33%;
}

.button_wrapper {
  border: 1px solid rgb(0, 4, 248);
  margin: 0px 64px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_wrapper .button {
  /* width: 10%; */
  padding: 0px 40px;
  border: 1px solid rgb(0, 248, 12);
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  border-radius: 12px;
  margin: 64px 0px;
}

.Heading_wrapper {
  border: 1px solid salmon;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 64px 64px;
}

.Heading_wrapper .Room_size {
  border: 1px solid salmon;
}

.Heading_wrapper .Browse_all {
  border: 1px solid salmon;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  border-radius: 12px;
  padding: 20px 40px;
}

.Heading_wrapper2 {
  border: 1px solid salmon;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 64px 64px;
}

.Heading_wrapper2 .Room_size {
  border: 1px solid salmon;
}

.Heading_wrapper2 .Browse_all {
  border: 1px solid salmon;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  border-radius: 12px;
  padding: 20px 40px;
}

/* การ์ดแนวนอน */
/* :Horizontal Card Style */
.card_horizontal_wrapper {
  border: 2px solid rgb(231, 67, 231);
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 30px 64px;
  /* border-radius: 24px; */
}

.card_horizontal_wrapper .card_picture {
  width: 50%;
  /* height: auto; */
  border-radius: 24px 0px 0px 24px;
  /* border: 1px solid rgb(50, 248, 50); */
}

.card_horizontal_wrapper .description {
  width: 50%;
  padding: 64px 72px;
  border-radius: 0px 0px 24px 24px;
}

/* ขนาด Text ไม่ยอมเปลี่ยน */
.card_horizontal_wrapper .description .h3 {
  font-size: 22px;
}

.card_horizontal_wrapper .description .Card_line {
  width: 100%;
  height: 0px;
  border: 1px solid #000000;
  margin-top: 26px;
  margin-bottom: 26px;
}

.card_horizontal_wrapper .description .Room_size_wrapper {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.card_horizontal_wrapper .description .Room_size_wrapper .roomsize_x {
  /* width: 33%; */
  padding: 12px 24px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(20, 20, 43, 0.09);
  border-radius: 28px;
  align-items: center;
}

/* Botnav_css */

.Botnav_wrapper {
  border: 1px solid red;
  /* display: flex;
  flex-direction: row; */
  /* align-items: space-between; */
  margin: 0px 64px;
}

.Botnav_wrapper .Card_line {
  /* border: 1px solid red; */
  width: 100%;
  height: 0px;
  border: 1px solid #8d8d91;
  margin-top: 80px;
  margin-bottom: 80px;
}

.Botnav_wrapper .Contact_wrap {
  border: 1px solid blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.Botnav_wrapper .Contact_wrap .Explore {
  border: 1px solid salmon;
  width: 25%;
}

.Botnav_wrapper .Contact_wrap .Contact {
  border: 1px solid green;
  width: 25%;
}

.Botnav_wrapper .Contact_wrap .Follow_Us {
  border: 1px solid salmon;
  width: 25%;
}

.Botnav_wrapper .Contact_wrap .Follow_Us .Follow_Us_icon_wrapper {
  border: 1px solid salmon;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.Botnav_wrapper .Contact_wrap .Dektanghor_Guarantee {
  border: 1px solid green;
  width: 25%;
}

.Botnav_wrapper .bot_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* card หน้าสไตล์ */
.Style_card_wrapper {
  border: 1px solid rgb(128, 0, 0);
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 64px;

  /* justify-content: space-between; */
}

.Style_card_wrapper .Style_card_picture {
  display: flex;
  /* position: absolute; */
  width: 60%;
  /* height: 30%; */
  border: 3px solid #4621ad;
}

.Style_card_wrapper .description_box_wrapper .description_wrapper {
  border: 1px solid rgb(230, 157, 0);
  background: FFFFFFk;
  box-shadow: 0px 3px 20px rgba(186, 186, 186, 0.25);
  border-radius: 24px;
  padding: 60px 80px;

  position: absolute;
  top: 70px;
  bottom: 70px;
  right: 0;
  width: 40%;
  height: 40%;
  align-items: center;
  border: 3px solid #73ad21;
}
